body{
    background-size: cover;
    background-image: url("/public/photos/LoginBG.png");
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 0; 
}
.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 70%;
    background-color: rgba(grey, grey, grey, 1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2%;
    border-radius: 5rem;
    width: 60%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.logo-with-dining-center-text{
    display: flex;
    justify-content: center;
}
.login-logoDiningCenter{
    width: 70%; 
    height: auto;
}
.login-container hr{
    width: 100%;
    height: 0.2rem;
    background-color: rgb(255, 251, 251);
    border: none;
}
.login-form{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
input{
    padding: 0.5rem;
    border-radius: 4rem;
    color: white;
    font-size: 1.2rem;
    outline: none;
    width: 100%;
}
.login-button{
    width: 50%;
    border-radius: 4rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    background: rgba(120, 120, 120, 0.468); 
}
.input-wrapper {
    display: flex;               
    align-items: center;         
    background: rgba(128, 128, 128, 0.25); 
    border: none;
    width: 200%;
    border-radius: 7rem;
    padding: 0.5rem;
    backdrop-filter: blur(4px); 
}
.login-inputs{
    background: transparent;
    border: none;
}
.login-inputs::placeholder{
    color: white;
}
.login-button {
    width: 50%;
    padding: 0.5rem;
    border-radius: 5rem;
    border: none;
    background: #d9c9c7;
    color: rgb(79, 77, 77);
    font-weight: bold;
    cursor: pointer;
}